html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

h1 {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
	padding: 0;
}

@font-face {
	font-family: 'Reem Kufi';
	font-style: normal;
	font-weight: 400;
	src: url('../webfonts/ReemKufi-latin.woff2') format('woff2');
	font-display: swap;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

main {
	background: #EDEDED;
	color: #4B5658;
}

svg {
	margin: 0.5em;
	width: 3em;
	height: 3em;
	fill: #4B5658;
}

svg:hover {
	fill: #000;
}